---
apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
nodeRegistration:
  kubeletExtraArgs:
    cloud-provider: "external"
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
nodeRegistration:
  kubeletExtraArgs:
    cloud-provider: "external"
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: v1.18.6
clusterName: ${cluster_name}
controlPlaneEndpoint: ${control_plane_endpoint}:6443
networking:
  podSubnet: "${pod_cidr}"
apiServer:
  certSANs:
  - ${control_plane_endpoint}
  - ${fip_address}
  - api
  extraArgs:
    cloud-provider: "external"
controllerManager:
  extraArgs:
    cloud-provider: "external"