---
apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
nodeRegistration:
  kubeletExtraArgs:
    cloud-provider: "external"
---
apiVersion: kubeadm.k8s.io/v1beta1
kind: InitConfiguration
nodeRegistration:
  kubeletExtraArgs:
    cloud-provider: "external"
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: "${k8s_version}"
clusterName: ${cluster_name}
controlPlaneEndpoint: ${control_plane_endpoint}:6443
apiServer:
  certSANs:
  - 193.148.163.6
  - api
  - api-remote
imageRepository: k8s.gcr.io
networking:
  serviceSubnet: "${srv_dual_cidr}"
  podSubnet: "${pod_dual_cidr}"
featureGates:
  IPv6DualStack: true  
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: ipvs
featureGates:
  IPv6DualStack: true
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
featureGates:
  IPv6DualStack: true