ForwardAgent    yes
ForwardX11Trusted yes
ForwardX11    yes
TCPKeepAlive    yes
ServerAliveInterval 10
ServerAliveCountMax 3
StrictHostKeyChecking no
ControlMaster auto
ControlPersist 30m
UserKnownHostsFile /dev/null